<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto NodeJS e MySQL</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <!-- JS -->
    <script src="js/script.js"></script> <!-- Se o JS for externo -->
    <script>
        // Adicionando um exemplo simples de JavaScript
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Página carregada com sucesso!");
        });
    </script>
</head>
<body>
    {{{body}}}

    <!-- Scripts antes do fechamento da tag body -->
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script> <!-- Exemplo para incluir o JS do Bootstrap -->
    <script src="js/bootstrap.js"></script>
    <script src="js/easing.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/move-top.js"></script>
    <script src="js/responsiveslides.min.js"></script>
</body>
</html>
