<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Fala Chemsex</title>
<!--mobile apps-->
<!--meta name="viewport" content="width=device-width, initial-scale=0.8"-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="We Plan Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all"> 
<!-- link href="css/reduzir.css" type="text/css" rel="stylesheet" media="all"--> 
<link rel="stylesheet" type="text/css" href="css/component.css" />
<!-- //Custom Theme files -->	
<!-- js -->
<script src="js/modernizr.custom.js"></script>

<script src="js/jquery-1.11.1.min.js"></script> 
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

<!-- //js -->
<!--web-fonts-->
	<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--w3layouts-->
     <!--agileits-->
	<!-- main content start-->
     <!--start-home-->
	<div id="home" class="header">
			<!--start-header-->
            <div class="header-strip">
			   <div class="container">
				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> LIGA PARA NÓS GRÁTIS: &nbsp;+55 - 00 -00000- 0000</p>
				<div class="social-icons">
					<ul>
						<li>
						<a href="https://www.facebook.com/share/1AHC2BDRwm/" target="_blank" class="social-link facebook" aria-label="Facebook">
							<img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
							<span>Facebook</span>
						</a>
						</li>
   						<li>
						<a href="https://www.instagram.com/falachemsex/?igsh=NWtwc3h0Zmo0b2lk#" target="_blank" class="social-link instagram" aria-label="Instagram">
							<img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
							<span>Instagram</span>
						</a>
						</li>									
					</ul>
				</div>
				<div class="clearfix"></div>
			  </div>
			</div>
		<div class="header-top">
		  <div class="container">
		     <div class="logo"><a href="/index"><h1>Fala <span>Chemsex</span></h1>
			 <!-- p class="top-para">Pesquisa</p--></a></div>
            <div class="main-nav">
				  <span class="menu"></span>
				 <div class="top-menu">
							<ul class="link-effect-12" id="link-effect-12">
								<li class="active"><a href="/index"><span>Inicio</span></a></li>
								<li><a href="#about" class="scroll"><span>Sobre</span></a></li>
								<li><a href="#service" class="scroll"><span>Projetos</span></a></li>
								<li><a href="#gallery" class="scroll"><span>Membros</span></a></li>
								<li><a href="#news" class="scroll"><span>Eventos</span></a></li>
								<li><a href="#contact" class="scroll"><span>Contacto</span></a></li>
								<li><a href="https://play.google.com/store/apps/details?id=com.falazero&pli=1" class="scroll" target="_blank"><span>Baixe nosso App</span></a></li>	
								<li><a href="#plan" class="scroll"><span>Videos</span></a></li>
								<li><a href="/login"><span>Login</span></a></li>
							</ul>
				</div>
             </div>
			 <!-- script-for-menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			    </script>
	         <!--End-top-nav-script-->
		<!--//end-header-->
		<div class="clearfix"></div>
    </div>

      <!--start-banner-->
   		   <div class="banner">
		      		   <div class="container">
	            <div class="banner-slider">
				<div class="callbacks_container">
					
							<ul class="rslides" id="slider4">

						<li>
						   <div class="banner-info">
							    <!--h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">We Love</h3-->
								 <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">Educação em Saúde é Liberdade com Responsabilidade.</p>
								
								 <!--span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Smart Choice !</span-->
							  </div>
						</li>
					
					</ul><!--banner Slider starts Here-->
	  	<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			  	<!--w3layouts-->
     <!--agileits-->
	      <!--banner Slider starts Here-->

			  </div>
				</div>
		   </div>
		</div>

	<!--FIM BANNER-->	
	</div>


	<!--Sobre Sumaé-->
	<div class="about-section" id="about">
		<div class="container">
			<h2 class="about-title">SEJA BEM-VINDO AO <span>CHEMSEX</span></h2>
			<h4 class="about-subtitle">Educação em saúde traz autonomia e bem-estar</h4>
			<div class="about-grid">
				<div class="about-text">
					<p>O termo <strong>chemsex</strong> é a junção das palavras chem (químico) e sex (sexo). Também é conhecido como sexo químico, sexo aditivado, uso sexualizado de drogas (USD), ColocAção e Party and Play-PnP (Festejar e Curtir).</p>
					<p>Refere-se ao uso intencional de substâncias psicoativas antes ou durante as relações sexuais, geralmente para intensificar sensações, aumentar o prazer, prolongar o ato sexual ou reduzir inibições.</p>
					<p>São vários os tipos de substâncias usadas, e essa prática deve ser abordada sem julgamento, com compreensão, escuta qualificada e acesso a informações seguras.</p>
					<p>Trabalhamos temas como redução de danos, prevenção combinada (PEP, PrEP, testagem), saúde mental, acesso a serviços e direitos em saúde, baseados em evidências científicas e realidades sociais.</p>
					<p>Queremos construir políticas e práticas que respeitem a diversidade, promovam bem-estar e ampliem o acesso a serviços acolhedores.</p>
					<p><em>Este é um espaço de construção coletiva.</em> Informação é uma forma de cuidado.</p>
					<p>Este projeto é fruto de uma parceria entre:</p>
					<ul>
						<li>Academia: USP (EERP, FFCLRP, Poli), UFS, UFBA, Universidade NOVA de Lisboa.</li>
						<li>Governo e serviços de saúde: CRT-DST/Aids.</li>
						<li>Sociedade civil: Instituto Cultural Multiverso, Barong.</li>
					</ul>
				</div>
	
				<div class="about-text">
					
					<p>Trabalhamos com três dimensões:</p>
					<ul>
						<li>Conhecimento científico (pesquisas e estudos atualizados);</li>
						<li>Conhecimento prático (experiência dos profissionais de saúde);</li>
						<li>Conhecimento vivencial (histórias e percepções das pessoas que praticam chemsex).</li>
					</ul>
					<p>Nosso objetivo é ampliar o entendimento sobre chemsex e oferecer informações úteis, acessíveis e sem estigma, para:</p>
					<ul>
						<li>Profissionais de saúde;</li>
						<li>Profissionais da educação;</li>
						<li>Pessoas envolvidas com chemsex;</li>
						<li>Gestores e formuladores de políticas públicas;</li>
						<li>Qualquer pessoa interessada no tema.</li>
					</ul>
					<p>Nosso compromisso é com o cuidado humanizado, acesso à informação segura e estratégias de saúde que respeitem a diversidade das experiências humanas.</p>
					<a href="https://www.instagram.com/p/DJUQ0lquZjw/?igsh=MXdreXVzZnV1OHV0Yg==" target="_blank" class="video-button">
					Saiba mais
					</a>
				</div>
			</div>
		</div>
	
		<!-- Modal -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
			<div class="modal-dialog about" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Série MenstruAÇÃO</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body about-inner">
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/8C61lF-DpvY?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--fim sobre Sumaé-->
<!-- //about-type-grid -->
		 <!-- about-type-grid -->
			 <!-- about-type-grid -->
			 <!-- FIM -->

			 
		<!-- INICIO SERVI-->
	
<!--/news-->



<!--ALTERAÇÃO DEIMAGENS-->
						<!--/IMAGENS-->
						<!--/IMAGENS-->
<!--/IMAGENS-->
	
	<!---->
	<div class="news-section" id="news">
		<div class="container">
			<h5 class="sub-h">Momentos Marcantes</h5>
			<h3 class="tittle">Notícias & Eventos</h3>
			<div class="news-grid-wrapper">
				<div class="news-card">
					<img src="images/sumae1.jpg" alt="Sumaé Embaló">
					<div class="news-content">
						<span class="event-date">14 Mar 2024</span>
						<h4>Sumaé Embaló</h4>
						<p>Sumaé Embaló é Engenheiro de Computação pela UNILAB e, desde 2024, mestrando em Ciência da Computação pela USP.</p>
					</div>
				</div>
	
				<div class="news-card">
					<img src="images/sumae.jpg" alt="Evento">
					<div class="news-content">
						<span class="event-date">20 Abr 2024</span>
						<h4>Novo Projeto em Destaque</h4>
						<p>Lançamento de novos projetos e iniciativas inovadoras para transformar o cenário tecnológico atual.</p>
					</div>
				</div>
	
				<div class="news-card">
					<img src="images/sumae3.jpg" alt="Evento">
					<div class="news-content">
						<span class="event-date">05 Mai 2024</span>
						<h4>Seminário Internacional</h4>
						<p>Discussões sobre inteligência artificial, realidade virtual e avanços em tecnologia para a saúde.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Fim-->



    <!-- -->
	</div>

			 
		<!-- INICIO SERVI-->
	<div class="services" id="service">
		<div class="container">
		<h5 class="sub-h">Descubra as nossas criações</h5>
		    <h3 class="tittle">Projetos</h3>
			
           <!-- div class="serve-grids-top"-->
			     
	  <div class="container_1">
    <div class="column_1">
      <a href="#">Livros</a>
      <ul class="submenu_1">
		<li>
		<a href="https://www.livrosabertos.abcd.usp.br/portaldelivrosUSP/catalog/book/634" target="_blank">
			<strong>COVID-19: Educação para Saúde (2ª ed.)</strong><br>
			<span>Autor: Lariane Angel Cepas</span>
		</a>
		</li>
        <li><a href="https://agenciajovem.org/saude/fica-a-dica-covid-19-boa-informacao-nunca-e-demais/" target="_blank">
		<strong> “Fica a dica Covid-19”: Boa informação nunca é demais</strong><br>
			<span>Autor: Lariane Angel Cepas</span>
		</a></li>
        <li><a href="#"><strong> </strong><br>
			<span>Autor: </span>
			</a>
		</li>
        <li><a href="#"><strong> </strong><br>
			<span>Autor: </span>
			</a></li>
        <li><a href="#"><strong> </strong><br>
			<span>Autor: </span>
			</a>
		</li>
        <li><a href="#">
			<strong> </strong><br>
			<span>Autor: </span>
			</a>
		</li>
      </ul>
    </div>

    <div class="column_1">
      <a href="#">Artigos</a>
      <ul class="submenu_1">
        <li><a href="https://jornal.usp.br/universidade/serie-animada-quer-combater-a-desinformacao-sobre-menstruacao-entre-alunos-do-ensino-basico/" target="_blank">
		<strong>Série animada quer combater a desinformação sobre menstruação entre alunos do ensino básico </strong><br>
			<span>Jornal da USP</span>
	 </a>
	 </li>
        <li>
  <a href="http://conteudosdigitais.eerp.usp.br/ebooks/Fica_a_dica_Covid-19.pdf" target="_blank">
    <strong>Fica a Dica: COVID-19</strong><br>
    <span>Jornal da USP</span>
  </a>
</li>

        <li><a href="#">Artigo 3: </a></li>
        <li><a href="#">Artigo 4: </a></li>
        <li><a href="#">Artigo 5: </a></li>
        <li><a href="#">Artigo 6: </a></li>
        <li><a href="#">Artigo 7: </a></li>
        <li><a href="#">Artigo 8: </a></li>
        <li><a href="#">Artigo 9: </a></li>
        <li><a href="#">Artigo 10: </a></li>
      </ul>
    </div>
  </div>
			</div>
	</div>
	
	
	<!--Fim-->
	

	<!--Videos-->
	<div class="insurance-section" id="plan">
		<div class="container">
			<h5 class="sub-h">Explore Nosso Conteúdo</h5>
			<h3 class="tittle second">Nossos Vídeos</h3>
	
			<div class="insurance-grids grid">
				<div class="col-md-6 insurance-grid">
					<div class="video-wrapper">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/8C61lF-DpvY" frameborder="0" allowfullscreen></iframe>
					</div>
					<h4 class="video-title">Série MenstruAÇÃO - Episódio 1</h4>
					<p class="video-description">Uma conversa aberta sobre saúde menstrual, educação e políticas públicas.</p>
				</div>
	
				<div class="col-md-6 insurance-grid">
					<div class="video-wrapper">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/SEU_VIDEO_ID2" frameborder="0" allowfullscreen></iframe>
					</div>
					<h4 class="video-title">Chemsex e Saúde Mental</h4>
					<p class="video-description">Reflexões sobre saúde mental e estratégias de cuidado para quem pratica chemsex.</p>
				</div>
				<div class="clearfix"></div>
			</div>
	
			<h4>Por que assistir?</h4>
			<p>Produzimos vídeos informativos, acessíveis e baseados em evidências científicas para apoiar profissionais de saúde, educadores, pessoas envolvidas no chemsex e qualquer pessoa interessada em ampliar seu conhecimento sobre o tema.</p>
			<ul class="insure">
				<li><a href="#"><i class="tick"></i></a>Conteúdo atualizado e confiável</li>
				<li><a href="#"><i class="tick"></i></a>Abordagens sem estigma ou preconceito</li>
				<li><a href="#"><i class="tick"></i></a>Dicas práticas para redução de danos</li>
				<li><a href="#"><i class="tick"></i></a>Depoimentos e experiências reais</li>
				<li><a href="#"><i class="tick"></i></a>Participação de especialistas e pesquisadores</li>
			</ul>
		</div>
	</div>
	
	<!--Fim videos-->
</div>
<!--start-members-->
<div class="gallery" id="gallery">
	<div class="container">
	  <h5 class="sub-h">Conheça Nosso Time</h5>
	  <h3 class="tittle">Membros</h3>
	  <div class="top-gallery">
  
		<!-- Exemplo de membro -->
		<div class="col-md-4 gallery-grid gallery1">
		  <a href="http://lattes.cnpq.br/5760687651054493" target="_blank">
			<img src="images/prof_ana.jpg" class="img-responsive" alt="Foto do membro">
			<div class="textbox">
			  <h4>Profa. Dra. Ana Paula Morais Fernandes</h4>
			  <p>Coordenadora do Projeto</p>
			  <p><strong>Lattes:</strong> Clique para ver</p>
			</div>
		  </a>
		</div>
  
		<!-- Outro membro -->
		<div class="col-md-4 gallery-grid gallery1">
		  <a href="http://lattes.cnpq.br/1255771708736991" target="_blank">
			<img src="images/alvaro.jpg" class="img-responsive" alt="Foto do membro">
			<div class="textbox">
			  <h4>Alvaro Sousa</h4>
			  <p>Pesquisador e docente</p>
			  <p><strong>Lattes:</strong> Clique para ver</p>
			</div>
		  </a>
		</div>
		<div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/9574696836017430" target="_blank">
			  <img src="images/caique.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Caíque Ribeiro</h4>
				<p>Docente e Pesquisador</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/3593958639078623" target="_blank">
			  <img src="images/carlos.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Carlos Arterio Sorgi</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/5521587475942859" target="_blank">
			  <img src="images/fabiana.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Fabiana Mesquita</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/0582020017238349" target="_blank">
			  <img src="images/isadora.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Isadora Carvalho</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/1248315161651448" target="_blank">
			  <img src="images/jean.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Jean Carlos</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/3978912377678900" target="_blank">
			  <img src="images/joao.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>João Netto</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/4084151722114480" target="_blank">
			  <img src="images/juliano.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Juliano Junior</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/9386013500390212" target="_blank">
			  <img src="images/lariane.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Lariane Cepas</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/5760687651054493" target="_blank">
			  <img src="images/lunna.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Lunna </h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/6809450651500049" target="_blank">
			  <img src="images/marcelo.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Marcelo Manso</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/7157799661954765" target="_blank">
			  <img src="images/shirley.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Shirley Lima</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/7308026208714028" target="_blank">
			  <img src="images/talia.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Talia Luz</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/1130686949923111" target="_blank">
			  <img src="images/vitor.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Vitor Dias da Silva</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
	
		  <!-- Outro membro -->
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/9876543210987654" target="_blank">
			  <img src="images/viviane.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Viviane</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/9876543210987654" target="_blank">
			  <img src="images/1.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Não</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="https://lattes.cnpq.br/9876543210987654" target="_blank">
			  <img src="images/2.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Não</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
		  <div class="col-md-4 gallery-grid gallery1">
			<a href="http://lattes.cnpq.br/5760687651054493" target="_blank">
			  <img src="images/sumae.jpg" class="img-responsive" alt="Foto do membro">
			  <div class="textbox">
				<h4>Sumaé Embaló</h4>
				<p>Bolsista</p>
				<p><strong>Lattes:</strong> Clique para ver</p>
			  </div>
			</a>
		  </div>
  
		<!-- Adicione mais membros abaixo seguindo o mesmo modelo -->
		<!-- ... -->
  
		<div class="clearfix"> </div>
	  </div>
	</div>
</div>
  
  <!-- Swipebox (caso deseje manter para ampliar a imagem, mas não é necessário se usar apenas links do Lattes) -->
  <link rel="stylesheet" href="css/swipebox.css">
  <script src="js/jquery.swipebox.min.js"></script> 
  <script type="text/javascript">
	jQuery(function($) {
	  $(".swipebox").swipebox();
	});
  </script>
  
<!--start-gallery-->

<!--/news-->
				

		<!--/contact-->


<!--Contato Sumae-->
<div id="contact" class="contact" data-wow-duration="1s" data-wow-delay=".3s">
    <div class="container">
        <div class="contact-text text-center">
            <h5 class="sub-h">FIQUE CONECTADO</h5>
            <h3 class="tittle second">Fale Conosco</h3>
            <p>Envie sua mensagem, dúvida ou sugestão. Nossa equipe entrará em contato com você em breve!</p>
        </div>

        <div class="contact-form">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="Name" placeholder="Seu nome completo" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="Email" placeholder="seuemail@exemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone</label>
                    <input type="tel" id="phone" name="Phone" placeholder="(XX) XXXXX-XXXX" pattern="\(\d{2}\) \d{4,5}-\d{4}" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensagem</label>
                    <textarea id="message" name="Message" placeholder="Digite sua mensagem aqui..." rows="5" required></textarea>
                </div>
                <div class="submit-button text-center">
                    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--fim contato Sumae-->
    
	<div class="qrcode" style="text-align: center; padding: 40px 20px; background-color: #f9f9f9; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
		<h2 style="font-size: 28px; margin-bottom: 10px; color: #333;">Preencha o Formulário</h2>
		<p style="font-size: 16px; margin-bottom: 20px; color: #555;">Aponte a câmera do seu celular para o QR Code abaixo e acesse rapidamente nosso formulário online.</p>
		<img src="{{qrCodeDataUrl}}" alt="QR Code" style="width: 200px; height: 200px;">
	</div>
	
	 
	 <div class="map">
		<iframe
		  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.063392037841!2d-47.85196968458274!3d-21.16975098591664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b9bd7a0f3c7c2f%3A0x2e8e7f4c9b7b6e3f!2sEscola%20de%20Enfermagem%20de%20Ribeir%C3%A3o%20Preto%20-%20USP!5e0!3m2!1spt-BR!2sbr!4v1683051234567"
		  width="100%"
		  height="450"
		  style="border:0;"
		  allowfullscreen=""
		  loading="lazy"
		  referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	  </div>
	  
<!-- footer -->

<!-- footer -->

<footer class="main-footer" role="contentinfo">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section social">
                <h3>Nos siga nas redes</h3>
                <nav aria-label="Redes sociais">
                    <ul class="social-links">
						<li>
						<a href="https://www.facebook.com/share/1AHC2BDRwm/" target="_blank" class="social-link facebook" aria-label="Facebook">
							<img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
							<span>Facebook</span>
						</a>
						</li>

					    <li>
						<a href="https://www.instagram.com/falachemsex/?igsh=NWtwc3h0Zmo0b2lk#" target="_blank" class="social-link instagram" aria-label="Instagram">
							<img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">
							<span>Instagram</span>
						</a>
						</li>
                    </ul>
                </nav>
            </div>
            <div class="footer-section newsletter">
                <h3>Assine nossa newsletter</h3>
                <form action="#" method="post">
                    <label for="newsletter-email">Seu e-mail</label>
                    <input type="email" id="newsletter-email" name="email" placeholder="Seu e-mail" required>
                    <input type="submit" value="Inscrever-se">
                </form>
                <p>Receba novidades, conteúdos e materiais diretamente no seu e-mail.</p>
            </div>
            <div class="footer-section about">
                <h3>Sobre nós</h3>
                <p>O <strong>Fala Chemsex</strong> é um espaço coletivo dedicado a compartilhar informações baseadas em evidências sobre chemsex, saúde sexual e bem-estar, promovendo cuidado, redução de danos e combate ao estigma.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>&copy; 2025 Fala Chemsex. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>


	<!--footer Sumae-->
	
	<!--Fim footer sumae-->
<!-- //footer -->
	<!--//main content start-->
	<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="/index" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for bootstrap working -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>
</html>