<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Chemsex</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="caixa">
            <!--start-header-->
            <div class="header-strip">
			   <div class="container">
				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telefone: &nbsp;888 - 585 - 9858</p>
				<div class="social-icons">
					<ul>
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google-plus"> </i></a></li>	
						<li><a href="#"><i class="dribble"> </i></a></li>										
					</ul>
				</div>
				<div class="clearfix"></div>
			  </div>
			</div>
             <h1><img src="images/logo.png"></h1>
            <nav>
                <ul class="navegacao">
                    <li><a href="/index">Home</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                      <li><a href="#evento">Eventos</a></li>
                    <li><a href="Produtos">Produtos</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <img class="banner" src="images/banner.jpg">

    <main>
        <section class="principal">
            <h2 class="titulo-principal">Sobre Fala Chemsex</h2>

            <img class="utensilios" src="images/utensilios.jpg" alt="Utensilios de um barbeiro.">

            <p>Localizada no coração da cidade a <strong>Barbearia Alura</strong> traz para o mercado o que há de melhor
                para o
                seu cabelo e barba.
                Fundada em 2019, a Barbearia Alura já é destaque na cidade e conquista novos clientes a cada dia.</p>

            <p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos
                        clientes"</strong>.</em></p>

            <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda.
                O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos
                clientes.
            </p>
        </section>
     <section class="sobre">
            <h2 class="titulo-sobre">Sobre Chemsex</h2>

            <img class="utensilios" src="images/utensilios.jpg" alt="Utensilios de um barbeiro.">

            <p>Localizada no coração da cidade a <strong>Barbearia Alura</strong> traz para o mercado o que há de melhor
                para o
                seu cabelo e barba.
                Fundada em 2019, a Barbearia Alura já é destaque na cidade e conquista novos clientes a cada dia.</p>

            <p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos
                        clientes"</strong>.</em></p>

            <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda.
                O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos
                clientes.
            </p>
        </section>
        <section class="mapa">
            <h3 class="titulo-principal">Nosso estabelecimento</h3>
            <p>Nosso estabelecimento está localizado no coração da cidade.</p>
            <div class="mapa-conteudo"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58513.90444272586!2d-46.62718284410995!3d-23.56416821162456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a2b2ed7f3a1%3A0xab35da2f5ca62674!2sCaelum%20-%20Escola%20de%20Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1647455439384!5m2!1spt-BR!2sbr"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        </section>
       <section class="evento">
         <h1 class="titulo-evento">Eventos</h1>

         <h1>Preencha o Formulário</h1>
        <img src="{{qrCodeDataUrl}}" alt="QR Code">
        </section>

        <section class="beneficios">
            <h3 class="titulo-principal">Benefícios</h3>

            <div class="conteudo-beneficios">
                <ul class="lista-beneficios">
                    <li class="itens">Atendimento aos Clientes</li>
                    <li class="itens">Espaço diferenciado</li>
                    <li class="itens">Localização</li>
                    <li class="itens">Profissionais Qualificados</li>
                    <li class="itens">Pontualidade</li>
                    <li class="itens">Limpeza</li>
                </ul><img src="images/beneficios.jpg" class="imagem-beneficios">
            </div>

            <div class="video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/wcVVXUV0YUY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </section>

    </main>

    <footer>
        <img src="images/logo-branco.png">
        <p class="copyright">&copy; Copyright Chemsex - 2025</p>
    </footer>

   <!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 footer-grid-left">
					<h3>twitter feed</h3>
					<ul>
						<li><a href="single.html">It is a long established fact that a reader will 
						be distracted by the readable content of a page when looking at 
						its layout.</a><span>15 minutes ago</span></li>
						<li><a href="mailto:info@example.com" class="cols">@NASA</a> & <a href="mailto:info@example.com" class="cols">
							@orbital science</a> <a href="single.html">readable content of a page when looking at 
							its layout</a><span>45 minutes ago</span></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grid-left">
					<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="email" value="enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'enter your email address';}" required="">
						<input type="submit" value="Submit" >
					</form>
				</div>
				<div class="col-md-4 footer-grid-left">
					<h3>about us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						<span>But I must explain to you how all this mistaken idea of denouncing
						pleasure and praising pain was born and I will give you a complete 
						account of the system, and expound the actual teachings of the 
						great explorer.</span>
						</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom-left">
					<p>&copy 2025 We Plan. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts.</a></p>
				</div>
				<div class="footer-bottom-right">
					<ul class="social-icons2">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
	<!--//main content start-->
	<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="/index" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for bootstrap working -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->


</body>

</html>